html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "lato", "helvetica", sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	min-width: 700px;
	min-height: 600px;
}

/* header */
header {
	flex: 0 0 auto;
	text-align: center;
}

/* main */
main {
	flex: 0 1 500px;
}
#trout-container {
	height: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#trout-container .rating {
	display: none;
	opacity: 0.8;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 200px;
	z-index: 2;
	text-align: center;
}
#trout-container .trout {
	background-image: url("../img/trout.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	position: relative;
}

/* footer */
footer {
	flex: 0 0 auto;
}
#rate {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}
#rate-input {
	flex: 1;
	width: 300px;
	margin: 20px auto;
}
#rate-button {
	flex: 1;
	width: 100px;
	height: 50px;
	margin: auto;
	cursor: pointer;
}